{% extends 'base.html' %}
{% load static %}

{% block title %}
LMS | Edit {{request.user}}
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="user_edit_card">
    
<form class="form_edit_user">
    <img src="{{form.initial.profile_image.url}}" alt="profile image" class="user_edit_form_img">
    <div class="">
        <div class="">
            <label for="inputEmail4">Email</label>
            <input type="email" class="" id="inputEmail4" required autofocus value={{form.initial.email}}>
            <label for="inputusername">Username</label>
            <input type="username" class="" id="inputUsername" required autofocus value={{form.initial.username}}>
        </div>
        <div>
            
        <div class="">
            <label for="inputname">First name</label>
            <input type="name" class="" id="inputName" required autofocus value={{form.initial.first_name}}>
        </div>
        <div class="">
            <label for="inputname">Middle name</label>
            <input type="name" class="" id="inputName" required autofocus value={{form.initial.middle_name}}>
        </div>
        <div class="">
            <label for="inputname">Last name</label>
            <input type="name" class="" id="inputName" required autofocus value={{form.initial.last_name}}>
        </div>
        </div>
    </div>
    <div class="">
        <div class="">
            <label for="inputState">State</label>
            <select id="inputState" class=""  required autofocus value={{form.initial.gender}}>
            <option selected>Select gender</option>
            <option>Male</option>
            <option>Female</option>
            </select>
        </div>
        <div class="">
            <label for="inputZip">Phone number</label>
            <input type="text" class="" id="inputZip" placeholder="ex. +249912345678"  required autofocus value={{form.initial.phone_number}}>
        </div>
    </div>
    <div class="">
        <label for="inputAddress">Address</label>
        <input type="text" class="" id="inputAddress" placeholder="1234 Main St" required autofocus value={{form.initial.address}}>
        <label for="inputAddress">Twitter</label>
        <input type="url" class="" id="inputAddress" required autofocus value={{form.initial.twitter}}>

        <label for="inputAddress">Facbook</label>
        <input type="url" class="" id="inputAddress" required autofocus value={{form.initial.facebook}}>

        <label for="inputAddress">Bio</label>
        <textarea class="" id="" rows="3" required autofocus value={{form.initial.bio}}></textarea>

        <input class="" type="checkbox" id="gridCheck" required autofocus value={{form.initial.email}}>
        <label class="" for="gridCheck">
        Check me out
        </label>
    </div>
    </div>
    <button type="submit" class="btn">Sign in</button>
</form>
</div>
{% block scripts %}
{% endblock %}

{% endblock content %}

