{% extends 'base.html' %}
{% load static %}

{% block title %}LMS | Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'snippets/home.css' %}">
{% endblock %}

{% block content %}
<div class="home flex_column_container" id="body">
    <div class="home_section_1 flex_row_container"><h1>section 1</h1></div>
    <div class="home_section_1 flex_row_container"><h1>section 1</h1></div>
    <div class="home_section_1 flex_row_container"><h1>section 1</h1></div>
    <div class="home_section_1 flex_row_container"><h1>section 1</h1></div>
    <div class="home_section_1 flex_row_container"><h1>section 1</h1></div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'snippets/home.js' %}"></script>
{% endblock %}