    <style type="text/css">
        #content_header{
            border: 5px solid #bbbbbb;
            height: 100%;
        }

        #content_body{
            border: 5px solid #bbbbbb;
            min-height: 75vh;
            height: 100%;
            overflow: scroll;
        }

        #content_footer{
            border: 5px solid #bbbbbb;   
            height: 100%;
        }

        body{
            border: 5px solid #bbbbbb;
            background-color: #cfbfbc;
            font-family: "Segoe UI";
            font-weight: 350;
        }

        :root {
            --main-bakground-color: cfbfbc;
            --dark-background-color: 402d2d;
            --secondary-text-color: 808080;
            --light-primary-text-color:7583ba;
        }
        
    </style>
    
    <style type="text/css">

        .element1{
            background-color: brown;
        
        
        }
        .element2{
            background-color: brown;
        }
        
        .element3{
            background-color: brown;
        }
        
        .element4{
            background-color: brown;
        }
        
        .w-10 {
            width: 10% !important;
        }
        
        .w-50 {
            width: 50% !important;
        }
        
        
        
    </style>
    