

<!-- general -->
<style type="text/css">
    #content_header{
        border: 5px solid #bbbbbb;
        height: 100%;
    }

    #content_body{
        border: 5px solid brown;
        min-height: 75vh;
        height: 100%;
        overflow: scroll;
    }

    #content_footer{
        border: 5px solid #bbbbbb;   
        height: 100%;
    }

    body{
        padding: 0;
        margin: 0;
        width: 100%;
        font-family: "Segoe UI";
        font-weight: 350;
    }

    .cust-bg-dark{
        background-color: var(--dark-background-color) !important;
    }
    
    .element1{
        background-color: var(--test-color);
    }

    .element2{
        background-color: var(--test-color);
    }
    
    .element3{
        background-color: var(--test-color);
    }
    
    .element4{
        background-color: var(--test-color);
    }

    .modal{
        position: fixed
    }
    
    .w-10{
        width: 10% !important;
    }
    
    .w-50{
        width: 50% !important;
    }
    .w-200{
        width: 200%;
    }
    
    .h-80{
        height: 80%;
    }

    .profile_image{
        height: 200px;
        width: 200px;
        background-color: #000;
    }

    :root {
        --test-color: brown;
        --main-bakground-color: #cfbfbc;
        --dark-background-color: #242424;
        --secondary-text-color: #808080;
        --light-primary-text-color:#7583ba;
    }
    
</style>

<!-- for search bar -->
<style type="text/css">
    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #303030;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color: white;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #303030;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
</style>

<!-- for login -->
<style type="text/css">

    .card-signin {
        width: 100%;
        max-width: 400px;
        padding: 15px;
        margin: auto;
    }
    
    .form-signin input[type="email"] {
        margin-bottom: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
        margin-bottom: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    </style>

<!-- for rgister -->
<style type="text/css">

	.card-signin {
		width: 100%;
		max-width: 400px;
		padding: 15px;
		margin: auto;
	}
	
	.form-signin input[type="email"] {
		margin-bottom: 10px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.form-signin input[type="text"] {
		margin-bottom: 10px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
		margin-bottom: -1px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	
	
</style>

<!-- for search results -->
<style type="text/css">
	.profile-image{
		max-height: 100px;
		max-width: 100px;
	}
	.profile-image{
		border-radius: 12px;
	}
	.card{
		border-radius: 12px;
	}
	.friends-text{
		color: #000;
		font-weight: 500;
	}
	.friends-text-container{
		border: 1px solid #cccccc;
		border-radius: 12px;
	}
	.friends-btn:hover {
		background-color: #bfbfbf;
		border-color: #bfbfbf;
	}
	.dropdown-toggle::after { 
		content: none; 
	}
	.profile-link{
		color: #000;
	}
	.checkmark-icon{
		color: green;
	}
	.cancel-icon{
		color: red;
	}
</style>
