{% load static %}

<div id="footer">
    <h2 class="footer_title">Title</h2>
    <img class="footer_image" src="{% static 'images/logo/black-70@2x.png' %}">
    <p class="footer_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio fuga excepturi asperiores optio quis cupiditate dolorum pariatur quas est expedita eligendi sint provident sit, minus consequuntur! Natus fuga deleniti impedit!Praesentium omnis perspiciatis vel consectetur iste beatae in libero consequuntur tempora fugiat explicabo illo, voluptas fuga nisi perferendis ea iure laborum sequi. Architecto nisi natus fugiat perferendis tempore veritatis velit?</p>
</div>

<!-- END Footer -->
