{% load static %}

<footer>
    <div class="footer_section"><h4>title</h4><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore reprehenderit similique ad. Alias culpa ipsum repudiandae porro commodi dolore praesentium aspernatur. Labore quasi eum aut nisi maxime nam nobis obcaecati.</p></div>
    <div class="footer_section"><h4>title</h4><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore reprehenderit similique ad. Alias culpa ipsum repudiandae porro commodi dolore praesentium aspernatur. Labore quasi eum aut nisi maxime nam nobis obcaecati.</p></div>
    <div class="footer_section"><h4>title</h4><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore reprehenderit similique ad. Alias culpa ipsum repudiandae porro commodi dolore praesentium aspernatur. Labore quasi eum aut nisi maxime nam nobis obcaecati.</p></div>
</footer>

<!-- END Footer -->