{% load static %}
<nav class="navbar_container">
  <div class="nav_brand">
    <img class="nav_logo logo_img" src="{% static 'images/logo/black-100@2x.png' %}"/>
    <h3 class="nav_text">LMS</h3>
  </div>
  <div class="collapse" id="collapse">
    <ul class="links_area">
      <li class="nav_link"><a href="#"><img class="nav_icon" src="{% static 'images/icon/person-black-18dp.svg' %}" alt="search">test</a></li>
      <li class="nav_link"><a href="#"><img class="nav_icon" src="{% static 'images/icon/person-black-18dp.svg' %}" alt="search">test</a></li>
      <li class="nav_link"><a href="#"><img class="nav_icon" src="{% static 'images/icon/person-black-18dp.svg' %}" alt="search">test</a></li>
      <li class="nav_link"><a href="#"><img class="nav_icon" src="{% static 'images/icon/search-black-18dp.svg' %}" alt="search"></a></li>

      
    </ul>
  </div>
  <div class="nav_btn">
    <ul class="links_area">
      {% if request.user.is_authenticated %}
      <li class="nav_link"><a href="#"><img class="nav_icon" src="{% static 'images/icon/person-black-18dp.svg' %}" alt="search">test</a></li>
      {% else %}
      <li class="nav_link"><a href="#"><img class="nav_icon" src="{% static 'images/icon/person-black-18dp.svg' %}" alt="search">test</a></li>
      <li class="nav_link"><a href="#"><img class="nav_icon" src="{% static 'images/icon/person_add-24px.svg' %}" alt="search">test</a></li>
      {% endif %}
      <li class="nav_link menu_icon" id="menu_icon"><a href="#"><img class="nav_icon" src="{% static 'images/icon/short_text-black-18dp.svg' %}" alt="search"></a></li>
    </ul>
  </div>
</nav>
<!-- END header -->
