{% load static %}
<nav class="navbar_container" id="nav">
  <div class="nav_brand">
    <div class="nav_logo">
      <img class="logo_img" src="{% static 'images/logo/black-100@2x.png' %}"/>
    </div>
    <div class="nav_text">
        <h3 class="">LMS</h3>
    </div>
  </div>
  <div class="collapse" id="collapse">
    <ul class="links_area">
      <li class="nav_link"><a href="#">test</a></li>
      <li class="nav_link"><a href="#">test</a></li>
      <li class="nav_link"><a href="#">test</a></li>
      {% if request.user.is_authenticated %}
      <li class="nav_link account_area"><img class="nav_icon" src="{% static 'images/icon/person-black-18dp.svg' %}" alt="search"></a></li>
      {% else %}
      <li class="nav_link account_area"><img class="nav_icon" src="{% static 'images/icon/person-black-18dp.svg' %}" alt="search"></a></li>
      <li class="nav_link account_area"><img class="nav_icon" src="{% static 'images/icon/person_add-24px.svg' %}" alt="search"></a></li>
      {% endif %}
    </ul>
  </div>
  <div class="nav_btn">
      <a href="#" class="search_icon">
          <img class="nav_icon" src="{% static 'images/icon/search-black-18dp.svg' %}" alt="search">
        </a>
        <a href="javascript:void(0);" class="menu_icon" onclick="collapseMenu()">
            <img class="nav_icon" src="{% static 'images/icon/short_text-black-18dp.svg' %}" alt="search">
          </a>
  </div>
</nav>
<!-- END header -->
