/* Base CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Utilities*/
.main-bg-img {
  position: fixed;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

nav {
  display: flex;
  height: 10vh;
  width: 100%;
  background-color: #e4e7df;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #775b5b5b;
  border-radius: 50px;
  margin: 10px;
}
.section_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  margin: 15px;
  background-color: #5e452e2f;
}

/* Navbar */
.nav_brand {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20vh;
  justify-content: center;
  align-items: center;
  background-color: #7c5e73;
}
.nav_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  width: 100%;
  background-color: #8c9ed1;
}
.logo_img {
  height: 100%;
}
.logo_text {
  height: 100%;
}
.nav_text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35%;
  width: 100%;
  background-color: #8c9ed1;
}
.links_area {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 80vh;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  flex-grow: 1;
}
.account_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b3d18c;
  padding: 5vh;
  height: 100%;
  width: 25vh;
}
.search_collapsebtn_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8c9ed1;
  padding: 2vh;
  height: 100%;
  width: 15vh;
}
.link {
  text-decoration: none;
}
.nav_icon {
  height: 4vh;
  width: 4vh;
}
/* END navbar */

/* Main */
main {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  position: fixed;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url(../images/pexels-pixabay-247819.jpg);
}
/* END main */

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-content: space-between;
  height: 20vh;
  width: 100%;
  background-color: #10292b;
}

.footer_section {
  margin: 0vh 2vh;
  height: 100%;
  width: 25%;
  background-color: #1b4447;
}
