/*this is home css*/
.home {
  height: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
}
.home_section_1 {
  justify-content: center;
  height: 30vh;
  width: 100%;
  flex-basis: 15vh;
  flex-grow: 1;
}
