/* Main */
.main {
  position: fixed;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.2;
  z-index: -1;
  background-image: url(../images/pexels-pixabay-247819.jpg);
}
.section_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  margin: 15px;
  background-color: #5e452e2f;
}
/* END main */

/* Login */

.login_card {
  flex-direction: column;
  height: 460px;
  padding: 30px 200px;
}
.login_form_link {
  height: 20px;
}
.form_signin {
  border-radius: 20px;
  background-color: #ad9e9ead;
  flex-direction: column;
}
.login_form_img {
  height: 55%;
}
.form_control {
  margin: 10px 100px;
  height: 30px;
  width: 200px;
}
.login_btn {
  color: white;
  background-color: black;
  border-radius: 20px;
}
.login_btn:hover {
  background-color: #2c2c2c;
}
/* END login */

/* User edit */

.user_edit_card {
  flex-direction: column;
  height: 700px;
  padding: 30px 50px;
}
.user_edit_form_link {
  height: 20px;
}
.form_edit_user {
  border-radius: 20px;
  background-color: #ad9e9ead;
  flex-direction: column;
}
.user_edit_form_img {
  width: 25%;
}
.form_control {
  margin: 10px 100px;
  height: 30px;
  width: 200px;
}
.user_edit_btn {
  color: white;
  background-color: black;
  border-radius: 20px;
}
.user_edit_btn:hover {
  background-color: #2c2c2c;
}

.user_edit_card form {
  flex-direction: column;
}
/* END user edit */
