/*Utilities*/
html {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}
body {
  display: grid;
  margin: 0 0;
  grid-template-rows: 15px 100px auto 300px 20px;
  grid-template-columns: 10px auto 10px;
  max-width: 1100px;
  flex-grow: 1;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
nav {
  grid-row: 2/2;
  grid-column: 2/2;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 100%;
  max-width: 1100px;
  background-color: #e4e0e0;
  border-radius: 10px;
  box-shadow: 0px 15px 60px 7px rgba(0, 0, 0, 0.87);
}

main {
  grid-row: 3/3;
  grid-column: 2/2;
  height: auto;
  display: flex;
  top: 7vh;
  left: 0;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #775b5b5b;
  border-radius: 50px;
  margin: 10px;
}
footer {
  grid-row: 4/4;
  grid-column: 2/2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}
img {
  display: block;
}
ul,
li,
a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  color: #000000;
  width: 100%;
  text-decoration: none;
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  height: 40px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
