{% extends 'base.html' %}
{% load static %}

{% block title %}
LMS | Edit {{request.user}}
{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <form class="p-4">
        <div class="form-row justify-content-end"><img src="" alt="" class="img profile_image" ></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="inputusername">Username</label>
                <input type="username" class="form-control" id="inputUsername">
            </div>
            <div class="form-group col-md-4">
                <label for="inputname">First name</label>
                <input type="name" class="form-control" id="inputName">
            </div>
            <div class="form-group col-md-4">
                <label for="inputname">Middle name</label>
                <input type="name" class="form-control" id="inputName">
            </div>
            <div class="form-group col-md-4">
                <label for="inputname">Last name</label>
                <input type="name" class="form-control" id="inputName">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputState">State</label>
                <select id="inputState" class="form-control">
                <option selected>Select gender</option>
                <option>Male</option>
                <option>Female</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputZip">Phone number</label>
                <input type="text" class="form-control" id="inputZip" placeholder="ex. +249912345678">
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress">Twitter</label>
            <input type="url" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress">Facbook</label>
            <input type="url" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
            <label for="inputAddress">Bio</label>
            <textarea class="form-control" id="" rows="3"></textarea>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                Check me out
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>
{% block scripts %}
{% endblock %}

{% endblock content %}
