{% load static %}
<!DOCTYPE html>
<html lang="en"
dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    <!-- Base css -->
    <link type="text/css"
    href="{% static 'snippets/base.css' %}"
    rel="stylesheet">

    <!-- Page css -->
    {% block css %}{% endblock %}
</head>

<body class="flex_column_container">

    <!-- Header -->
    {% include 'snippets/header.html' %}

    {% block content %}{% endblock content %}
    

    <!-- Footer -->
    {% include 'snippets/footer.html' %}


    {% block scripts %}{% endblock %}
    <!-- jQuery -->
    <script src="{% static 'vendor/jquery.min.js' %}"></script>

    <!-- Base js -->
    <script src="{% static 'snippets/base.js' %}"></script>

</body>

</html>